In [1]:
import pandas as pd
import random
import numpy as np
from matplotlib import pylab as plt
import scipy.stats
import copy
from scipy.sparse import linalg as LA
#import powerlaw
# %matplotlib inline

path_data = "../data/"
path_fig = "../results/fig/"

In [2]:
# The following have been removed 
df_2019 = pd.read_pickle(path_data + "CPS_df_occmobpanel_2019.pkl")

In [2]:
df = pd.read_pickle(path_data + "CPS_df_occmob_summary.pkl")

In [3]:
df.head()

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,LNKFW1MWT,PANLWT
15,2000,1,233.3782,19981204103001,12,869,6260,60,242.8308,322.3957
20,2000,1,233.4906,19981204102801,12,783,8140,41,239.6893,320.5128
28,2000,1,290.0727,19981103262701,10,783,8140,41,298.4937,395.7209
34,2000,1,3309.0053,19981202764601,21,558,6200,60,3504.5631,4804.7770
36,2000,1,3285.7963,19981204464201,10,783,8140,282,3423.1920,4762.3957

In [4]:
len(df)

16869617

In [5]:
df['Idx'] = df.index
df = df.sort_values(by = ['CPSIDP', 'Idx'])

In [6]:
# NOTE there are some (were) NAN values in WTFINL, but there seems to be a previous entry in this case too.
# df[102700:102750]

In [6]:
df.head()

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,LNKFW1MWT,PANLWT,Idx
80373,2000,1,1929.3937,19981100003701,10,558,6200,60,1969.5642,2647.8748,80373
237164,2000,2,1957.8713,19981100003701,10,558,6200,60,0.0000,2651.8827,237164
80374,2000,1,1973.6605,19981100003702,10,323,5420,60,2011.3778,2693.7112,80374
237165,2000,2,2011.7397,19981100003702,10,323,5420,60,0.0000,2716.4674,237165
80375,2000,1,2004.5404,19981100003703,10,458,4510,772,2056.4402,2884.8375,80375

In [7]:
df_2019 = df[df["YEAR"] == 2019]
df_2019 = df_2019.sort_values(by = ['CPSIDP', 'Idx'])

In [33]:
# -1 to since we at least should have two observations
id_freq = (df_2019["CPSIDP"].value_counts() - 1).to_dict()

In [34]:
df_2019["counts"] = df_2019["CPSIDP"].map(id_freq)

In [35]:
df_2019["PANLWT_adj"] = df_2019["PANLWT"]/df_2019["counts"]

In [36]:
df_2019_janfeb = df_2019[(df_2019["MONTH"] == 1) | (df_2019["MONTH"] == 2)]

In [29]:
len(df_2019_janfeb)

117055

In [24]:
df_2019["MONTH"].value_counts()

1     58746
2     58309
10    58058
8     58011
4     58002
11    57857
9     57794
12    57514
3     57491
6     57437
7     57253
5     57121
Name: MONTH, dtype: int64

In [11]:
df_2019.head()

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,LNKFW1MWT,PANLWT,Idx,counts
34206669,2019,1,1733.4595,20171000000401,10,5700,5700,8190,0.0,2511.8557,34206669,0
34206670,2019,1,2671.1416,20171000000402,10,4020,4000,8680,0.0,3872.8748,34206670,0
34206671,2019,1,2671.1416,20171000000403,10,4020,4000,8680,0.0,3872.8748,34206671,0
34206672,2019,1,2648.5806,20171000000404,10,4720,4720,5080,0.0,3837.9045,34206672,0
34206673,2019,1,1967.3134,20171000000601,10,3255,3130,9480,0.0,0.0000,34206673,0

In [12]:
df_2019["PANLWT_adj"] = df_2019["PANLWT"]/df_2019["counts"]

In [42]:
count = 0
person_id_old = 0
occ_old = 0
ind_old = 0

transitions_occ = 0
transitions_ind = 0
transitions_both = 0
remained = 0
raw_transitions_occ = 0
raw_transitions_ind = 0 
raw_transitions_both = 0
raw_remained = 0

# get the transitions
for index, row in df_2019_janfeb.iterrows():
    person_id_new = row["CPSIDP"]
    
    if person_id_new == person_id_old:
        #check for change in occupation
#         print(occ_old, row["OCC2010"])
        # check if occupation changed
        if occ_old != row["OCC2010"]:
            raw_transitions_occ +=1 
            transitions_occ += 1 * row["PANLWT"]
            occ_old = row["OCC2010"]
            if ind_old != row["IND"]:
                raw_transitions_both += 1
                transitions_both += 1 * row["PANLWT"]
        else:
            remained += 1 * row["PANLWT"]
            raw_remained += 1
        if ind_old != row["IND"]: 
            raw_transitions_ind += 1
            transitions_ind += 1 * row["PANLWT"]

            
            
    else:
#         print("change")
#         print("id", person_id_new)
        person_id_old = person_id_new
        occ_old = row["OCC2010"]
        ind_old = row["IND"]
    
    count +=1
    if count%1000000 == 0:
        print(count)

In [38]:
raw_transitions_occ

2968

In [43]:
(remained + transitions_occ)/1e6

155.54132286199902

In [46]:
transitions_occ/1e6

12.471811710500011

In [45]:
remained/1e6

143.06951115149903

In [13]:
count = 0
person_id_old = 0
occ_old = 0
ind_old = 0

transitions_occ = 0
transitions_ind = 0
transitions_both = 0
remained = 0
raw_transitions_occ = 0
raw_transitions_ind = 0 
raw_transitions_both = 0
raw_remained = 0

# get the transitions
for index, row in df_2019.iterrows():
    person_id_new = row["CPSIDP"]
    
    if person_id_new == person_id_old:
        #check for change in occupation
#         print(occ_old, row["OCC2010"])
        # check if occupation changed
        if occ_old != row["OCC2010"]:
            raw_transitions_occ +=1 
            transitions_occ += 1 * row["PANLWT_adj"]
            occ_old = row["OCC2010"]
            if ind_old != row["IND"]:
                raw_transitions_both += 1
                transitions_both += 1 * row["PANLWT_adj"]
        else:
            remained += 1 * row["PANLWT_adj"]
            raw_remained += 1
        if ind_old != row["IND"]: 
            raw_transitions_ind += 1
            transitions_ind += 1 * row["PANLWT_adj"]

            
            
    else:
#         print("change")
#         print("id", person_id_new)
        person_id_old = person_id_new
        occ_old = row["OCC2010"]
        ind_old = row["IND"]
    
    count +=1
    if count%1000000 == 0:
        print(count)

In [17]:
remained/1e6

660.8965210472139

In [18]:
transitions_occ/1e6

67.20951433788343

In [16]:
transitions_occ/12

5600792.861490286

In [150]:
transitions_occ

61751947.47578335

In [151]:
remained

480170554.2172433

In [137]:
df_2019["WTFINL_adj"]

34206669    1733.4595
34206670    2671.1416
34206671    2671.1416
34206672    2648.5806
34206673    1967.3134
              ...
35810676     388.4827
35810779     402.8651
35810780     434.7944
35810781     420.2676
35810819     403.9888
Name: WTFINL_adj, Length: 693593, dtype: float64

In [128]:
np.mean(list(id_freq.values()))

3.047260249898951

In [117]:
f.loc[20191207029101][0]

1

In [101]:
f.index

Int64Index([20171000000401, 20171000000402, 20171000000403, 20171000000404,
            20171000000601, 20171000000602, 20171000005501, 20171000007401,
            20171000009501, 20171000010601,
            ...
            20191207014501, 20191207014602, 20191207015301, 20191207019201,
            20191207019202, 20191207019203, 20191207026701, 20191207026702,
            20191207026703, 20191207029101],
           dtype='int64', name='CPSIDP', length=227612)

In [118]:
d = {k:list(f.loc[k][0]) for k in f.index}

TypeError: 'numpy.int64' object is not iterable

In [114]:
d

{20171000000401: [1],
 20171000000402: [1],
 20171000000403: [1],
 20171000000404: [1],
 20171000000601: [1],
 20171000000602: [1],
 20171000005501: [1],
 20171000007401: [1],
 20171000009501: [1],
 20171000010601: [1],
 20171000011901: [1],
 20171000011902: [1],
 20171000014301: [1],
 20171000014302: [1],
 20171000014801: [1],
 20171000014803: [1],
 20171000020201: [1],
 20171000024001: [1],
 20171000024002: [1],
 20171000024003: [1],
 20171000024301: [1],
 20171000027801: [1],
 20171000027802: [1],
 20171000029401: [1],
 20171000029402: [1],
 20171000029403: [1],
 20171000029801: [1],
 20171000029901: [1],
 20171000029902: [1],
 20171000035202: [1],
 20171000035402: [1],
 20171000037101: [1],
 20171000037102: [1],
 20171000040001: [1],
 20171000040002: [1],
 20171000040801: [1],
 20171000040802: [1],
 20171000041301: [1],
 20171000043901: [1],
 20171000043902: [1],
 20171000044602: [1],
 20171000044801: [1],
 20171000044802: [1],
 20171000046702: [1],
 20171000047302: [1],
 20171000050801: [1],
 20171000053401: [1],
 20171000054501: [1],
 20171000055001: [1],
 20171000055002: [1],
 20171000057202: [1],
 20171000058301: [1],
 20171000058302: [1],
 20171000061101: [1],
 20171000061503: [1],
 20171000065301: [1],
 20171000065305: [1],
 20171000066102: [1],
 20171000067801: [1],
 20171000067802: [1],
 20171000069901: [1],
 20171000069902: [1],
 20171000069903: [1],
 20171000069904: [1],
 20171000070602: [1],
 20171000070901: [1],
 20171000072001: [1],
 20171000072002: [1],
 20171000072302: [1],
 20171000076802: [1],
 20171000077101: [1],
 20171000080901: [1],
 20171000080902: [1],
 20171000081701: [1],
 20171000081703: [1],
 20171000082301: [1],
 20171000085001: [1],
 20171000085002: [1],
 20171000085003: [1],
 20171000085202: [1],
 20171000086301: [1],
 20171000086302: [1],
 20171000089301: [1],
 20171000089302: [1],
 20171000092201: [1],
 20171000095501: [1],
 20171000096501: [1],
 20171000096502: [1],
 20171000098201: [1],
 20171000100601: [1],
 20171000100602: [1],
 20171000101601: [1],
 20171000101602: [1],
 20171000101702: [1],
 20171000105301: [1],
 20171000105501: [1],
 20171000105503: [1],
 20171000107101: [1],
 20171000107102: [1],
 20171000110901: [1],
 20171000114101: [1],
 20171000115001: [1],
 20171000115002: [1],
 20171000118301: [1],
 20171000118901: [1],
 20171000121301: [1],
 20171000121302: [1],
 20171000121401: [1],
 20171000121402: [1],
 20171000122002: [1],
 20171000122003: [1],
 20171000126601: [1],
 20171000128101: [1],
 20171000128103: [1],
 20171000129201: [1],
 20171000130501: [1],
 20171000131901: [1],
 20171000132901: [1],
 20171000132902: [1],
 20171000134101: [1],
 20171000136001: [1],
 20171000136002: [1],
 20171000140901: [1],
 20171000140902: [1],
 20171000141601: [1],
 20171000141602: [1],
 20171000142801: [1],
 20171000144301: [1],
 20171000144302: [1],
 20171000146402: [1],
 20171000146601: [1],
 20171000146603: [1],
 20171000148102: [1],
 20171000148601: [1],
 20171000148602: [1],
 20171000149701: [1],
 20171000150001: [1],
 20171000150002: [1],
 20171000151901: [1],
 20171000153101: [1],
 20171000153102: [1],
 20171000153105: [1],
 20171000153301: [1],
 20171000153701: [1],
 20171000153801: [1],
 20171000156801: [1],
 20171000156802: [1],
 20171000156901: [1],
 20171000157401: [1],
 20171000158001: [1],
 20171000158301: [1],
 20171000158302: [1],
 20171000158501: [1],
 20171000160001: [1],
 20171000162001: [1],
 20171000163301: [1],
 20171000163302: [1],
 20171000163303: [1],
 20171000167902: [1],
 20171000167903: [1],
 20171000167904: [1],
 20171000168901: [1],
 20171000168902: [1],
 20171000168903: [1],
 20171000170602: [1],
 20171000175803: [1],
 20171000175807: [1],
 20171000175808: [1],
 20171000177402: [1],
 20171000177404: [1],
 20171000178101: [1],
 20171000179001: [1],
 20171000180301: [1],
 20171000180302: [1],
 20171000183503: [1],
 20171000183507: [1],
 20171000186401: [1],
 20171000186402: [1],
 20171000186403: [1],
 20171000188401: [1],
 20171000188402: [1],
 20171000189002: [1],
 20171000189702: [1],
 20171000190501: [1],
 20171000191501: [1],
 20171000191601: [1],
 20171000191801: [1],
 20171000191802: [1],
 20171000193701: [1],
 20171000193702: [1],
 20171000194502: [1],
 20171000196901: [1],
 20171000196908: [1],
 20171000199101: [1],
 20171000199102: [1],
 20171000199401: [1],
 20171000199402: [1],
 20171000203401: [1],
 20171000203402: [1],
 20171000203902: [1],
 20171000205404: [1],
 20171000206301: [1],
 20171000206303: [1],
 20171000208901: [1],
 20171000223401: [1],
 20171000223601: [1],
 20171000224101: [1],
 20171000228202: [1],
 20171000229301: [1],
 20171000229602: [1],
 20171000236401: [1],
 20171000236402: [1],
 20171000239002: [1],
 20171000240502: [1],
 20171000241701: [1],
 20171000242501: [1],
 20171000246401: [1],
 20171000246402: [1],
 20171000247401: [1],
 20171000249101: [1],
 20171000249102: [1],
 20171000251401: [1],
 20171000251402: [1],
 20171000256003: [1],
 20171000259801: [1],
 20171000259802: [1],
 20171000262402: [1],
 20171000264002: [1],
 20171000264101: [1],
 20171000264401: [1],
 20171000267401: [1],
 20171000268501: [1],
 20171000268502: [1],
 20171000269701: [1],
 20171000272404: [1],
 20171000276402: [1],
 20171000276502: [1],
 20171000276503: [1],
 20171000282601: [1],
 20171000288301: [1],
 20171000288303: [1],
 20171000288304: [1],
 20171000288305: [1],
 20171000288701: [1],
 20171000288702: [1],
 20171000296001: [1],
 20171000296002: [1],
 20171000296003: [1],
 20171000297501: [1],
 20171000300401: [1],
 20171000301601: [1],
 20171000301602: [1],
 20171000301603: [1],
 20171000301607: [1],
 20171000303001: [1],
 20171000303002: [1],
 20171000305301: [1],
 20171000305302: [1],
 20171000306901: [1],
 20171000310801: [1],
 20171000310802: [1],
 20171000312601: [1],
 20171000312602: [1],
 20171000312603: [1],
 20171000312604: [1],
 20171000317101: [1],
 20171000317601: [1],
 20171000319501: [1],
 20171000319502: [1],
 20171000319504: [1],
 20171000320901: [1],
 20171000320902: [1],
 20171000322401: [1],
 20171000322402: [1],
 20171000325301: [1],
 20171000325302: [1],
 20171000326001: [1],
 20171000326004: [1],
 20171000326402: [1],
 20171000326501: [1],
 20171000326504: [1],
 20171000326507: [1],
 20171000330501: [1],
 20171000330502: [1],
 20171000330504: [1],
 20171000332201: [1],
 20171000334201: [1],
 20171000335001: [1],
 20171000336601: [1],
 20171000340401: [1],
 20171000343001: [1],
 20171000344501: [1],
 20171000345301: [1],
 20171000345302: [1],
 20171000346801: [1],
 20171000346802: [1],
 20171000346901: [1],
 20171000346902: [1],
 20171000348701: [1],
 20171000348702: [1],
 20171000348703: [1],
 20171000349502: [1],
 20171000349602: [1],
 20171000350201: [1],
 20171000350203: [1],
 20171000351701: [1],
 20171000351702: [1],
 20171000357401: [1],
 20171000358401: [1],
 20171000360602: [1],
 20171000365501: [1],
 20171000365901: [1],
 20171000366301: [1],
 20171000366302: [1],
 20171000366501: [1],
 20171000366502: [1],
 20171000370501: [1],
 20171000371701: [1],
 20171000371702: [1],
 20171000372801: [1],
 20171000372802: [1],
 20171000373001: [1],
 20171000373002: [1],
 20171000376501: [1],
 20171000376801: [1],
 20171000376802: [1],
 20171000378201: [1],
 20171000378205: [1],
 20171000378901: [1],
 20171000378902: [1],
 20171000380501: [1],
 20171000380502: [1],
 20171000381801: [1],
 20171000382401: [1],
 20171000382402: [1],
 20171000387101: [1],
 20171000389402: [1],
 20171000389901: [1],
 20171000390606: [1],
 20171000390902: [1],
 20171000392703: [1],
 20171000395002: [1],
 20171000396201: [1],
 20171000396701: [1],
 20171000396702: [1],
 20171000396703: [1],
 20171000401702: [1],
 20171000406701: [1],
 20171000406702: [1],
 20171000407001: [1],
 20171000409301: [1],
 20171000409801: [1],
 20171000409802: [1],
 20171000412201: [1],
 20171000412202: [1],
 20171000414901: [1],
 20171000415101: [1],
 20171000415102: [1],
 20171000417301: [1],
 20171000417302: [1],
 20171000417901: [1],
 20171000418601: [1],
 20171000418602: [1],
 20171000418606: [1],
 20171000418607: [1],
 20171000420401: [1],
 20171000420402: [1],
 20171000420801: [1],
 20171000430802: [1],
 20171000432203: [1],
 20171000433502: [1],
 20171000435201: [1],
 20171000437201: [1],
 20171000437401: [1],
 20171000441902: [1],
 20171000444003: [1],
 20171000445501: [1],
 20171000445601: [1],
 20171000445602: [1],
 20171000447902: [1],
 20171000448401: [1],
 20171000453102: [1],
 20171000454101: [1],
 20171000454102: [1],
 20171000455002: [1],
 20171000455601: [1],
 20171000455603: [1],
 20171000458601: [1],
 20171000459701: [1],
 20171000459704: [1],
 20171000460101: [1],
 20171000461101: [1],
 20171000461102: [1],
 20171000463302: [1],
 20171000465701: [1],
 20171000467002: [1],
 20171000468301: [1],
 20171000468701: [1],
 20171000468702: [1],
 20171000475301: [1],
 20171000479301: [1],
 20171000480002: [1],
 20171000481302: [1],
 20171000483802: [1],
 20171000485301: [1],
 20171000485303: [1],
 20171000486101: [1],
 20171000486102: [1],
 20171000486901: [1],
 20171000486902: [1],
 20171000488001: [1],
 20171000488802: [1],
 20171000490601: [1],
 20171000490602: [1],
 20171000490603: [1],
 20171000491103: [1],
 20171000491601: [1],
 20171000491901: [1],
 20171000492901: [1],
 20171000492902: [1],
 20171000493501: [1],
 20171000494301: [1],
 20171000494305: [1],
 20171000494306: [1],
 20171000494401: [1],
 20171000494402: [1],
 20171000494404: [1],
 20171000494802: [1],
 20171000495201: [1],
 20171000495202: [1],
 20171000497501: [1],
 20171000497502: [1],
 20171000497503: [1],
 20171000497701: [1],
 20171000497702: [1],
 20171000497703: [1],
 20171000498201: [1],
 20171000498801: [1],
 20171000500001: [1],
 20171000500002: [1],
 20171000506201: [1],
 20171000506202: [1],
 20171000509301: [1],
 20171000511001: [1],
 20171000511002: [1],
 20171000511004: [1],
 20171000511801: [1],
 20171000511802: [1],
 20171000512201: [1],
 20171000512202: [1],
 20171000512801: [1],
 20171000512802: [1],
 20171000513902: [1],
 20171000514701: [1],
 20171000514702: [1],
 20171000514703: [1],
 20171000516701: [1],
 20171000516901: [1],
 20171000516902: [1],
 20171000516904: [1],
 20171000518401: [1],
 20171000518402: [1],
 20171000518403: [1],
 20171000518406: [1],
 20171000518601: [1],
 20171000518602: [1],
 20171000518603: [1],
 20171000519101: [1],
 20171000519104: [1],
 20171000525002: [1],
 20171000527401: [1],
 20171000527403: [1],
 20171000531001: [1],
 20171000531002: [1],
 20171000536801: [1],
 20171000536901: [1],
 20171000536902: [1],
 20171000536903: [1],
 20171000537501: [1],
 20171000537502: [1],
 20171000537901: [1],
 20171000538501: [1],
 20171000539301: [1],
 20171000539302: [1],
 20171000540901: [1],
 20171000540902: [1],
 20171000542802: [1],
 20171000545301: [1],
 20171000545305: [1],
 20171000546301: [1],
 20171000546302: [1],
 20171000548101: [1],
 20171000548102: [1],
 20171000550301: [1],
 20171000550302: [1],
 20171000550902: [1],
 20171000550903: [1],
 20171000550905: [1],
 20171000550908: [1],
 20171000553201: [1],
 20171000553801: [1],
 20171000557602: [1],
 20171000559001: [1],
 20171000559002: [1],
 20171000559004: [1],
 20171000559101: [1],
 20171000559102: [1],
 20171000560602: [1],
 20171000562901: [1],
 20171000564303: [1],
 20171000564304: [1],
 20171000565201: [1],
 20171000566602: [1],
 20171000566603: [1],
 20171000566604: [1],
 20171000566608: [1],
 20171000566609: [1],
 20171000566610: [1],
 20171000566611: [1],
 20171000566615: [1],
 20171000566616: [1],
 20171000570104: [1],
 20171000571602: [1],
 20171000571901: [1],
 20171000571902: [1],
 20171000573105: [1],
 20171000575301: [1],
 20171000575302: [1],
 20171000575304: [1],
 20171000575305: [1],
 20171000576601: [1],
 20171000576602: [1],
 20171000576603: [1],
 20171000576604: [1],
 20171000576701: [1],
 20171000579302: [1],
 20171000580801: [1],
 20171000580802: [1],
 20171000581001: [1],
 20171000581002: [1],
 20171000585501: [1],
 20171000585502: [1],
 20171000586702: [1],
 20171000592402: [1],
 20171000592601: [1],
 20171000593201: [1],
 20171000593202: [1],
 20171000594001: [1],
 20171000594002: [1],
 20171000596301: [1],
 20171000596801: [1],
 20171000597302: [1],
 20171000598101: [1],
 20171000600301: [1],
 20171000600302: [1],
 20171000600502: [1],
 20171000600504: [1],
 20171000600901: [1],
 20171000600902: [1],
 20171000602701: [1],
 20171000609102: [1],
 20171000609103: [1],
 20171000609502: [1],
 20171000610301: [1],
 20171000611203: [1],
 20171000611504: [1],
 20171000611801: [1],
 20171000611802: [1],
 20171000613101: [1],
 20171000615001: [1],
 20171000615002: [1],
 20171000616702: [1],
 20171000617001: [1],
 20171000617002: [1],
 20171000617005: [1],
 20171000617006: [1],
 20171000617007: [1],
 20171000617701: [1],
 20171000617702: [1],
 20171000617703: [1],
 20171000617704: [1],
 20171000618301: [1],
 20171000618302: [1],
 20171000618303: [1],
 20171000618304: [1],
 20171000618901: [1],
 20171000618906: [1],
 20171000618911: [1],
 20171000618912: [1],
 20171000619701: [1],
 20171000619702: [1],
 20171000621602: [1],
 20171000622301: [1],
 20171000622302: [1],
 20171000622401: [1],
 20171000622402: [1],
 20171000623102: [1],
 20171000624202: [1],
 20171000625301: [1],
 20171000627602: [1],
 20171000628101: [1],
 20171000628601: [1],
 20171000631601: [1],
 20171000631604: [1],
 20171000632202: [1],
 20171000632802: [1],
 20171000633704: [1],
 20171000634301: [1],
 20171000634302: [1],
 20171000638101: [1],
 20171000638102: [1],
 20171000638802: [1],
 20171000639301: [1],
 20171000642102: [1],
 20171000642103: [1],
 20171000642104: [1],
 20171000644901: [1],
 20171000644903: [1],
 20171000646701: [1],
 20171000647602: [1],
 20171000648301: [1],
 20171000648401: [1],
 20171000648402: [1],
 20171000649401: [1],
 20171000649402: [1],
 20171000650201: [1],
 20171000650802: [1],
 20171000652401: [1],
 20171000653801: [1],
 20171000653901: [1],
 20171000653902: [1],
 20171000655102: [1],
 20171000659401: [1],
 20171000659403: [1],
 20171000659404: [1],
 20171000659405: [1],
 20171000661101: [1],
 20171000661102: [1],
 20171000661103: [1],
 20171000662501: [1],
 20171000663801: [1],
 20171000663802: [1],
 20171000663804: [1],
 20171000664502: [1],
 20171000664601: [1],
 20171000664801: [1],
 20171000665001: [1],
 20171000665003: [1],
 20171000666001: [1],
 20171000666002: [1],
 20171000666202: [1],
 20171000667202: [1],
 20171000668601: [1],
 20171000668603: [1],
 20171000672901: [1],
 20171000672903: [1],
 20171000675101: [1],
 20171000675102: [1],
 20171000675107: [1],
 20171000675108: [1],
 20171000676401: [1],
 20171000676402: [1],
 20171000677001: [1],
 20171000677101: [1],
 20171000678001: [1],
 20171000678002: [1],
 20171000680501: [1],
 20171000680601: [1],
 20171000682101: [1],
 20171000684101: [1],
 20171000684102: [1],
 20171000685001: [1],
 20171000686502: [1],
 20171000686505: [1],
 20171000686601: [1],
 20171000686602: [1],
 20171000688704: [1],
 20171000692301: [1],
 20171000692501: [1],
 20171000694801: [1],
 20171000694802: [1],
 20171000694803: [1],
 20171000695901: [1],
 20171000700102: [1],
 20171000700701: [1],
 20171000702801: [1],
 20171000703002: [1],
 20171000703101: [1],
 20171000703102: [1],
 20171000703602: [1],
 20171000703604: [1],
 20171000703702: [1],
 20171000703705: [1],
 20171000704001: [1],
 20171000704004: [1],
 20171000705701: [1],
 20171000705703: [1],
 20171000706201: [1],
 20171000706301: [1],
 20171000706302: [1],
 20171000706401: [1],
 20171000707201: [1],
 20171000707203: [1],
 20171000707701: [1],
 20171000707702: [1],
 20171000707801: [1],
 20171000707802: [1],
 20171000707805: [1],
 20171000708501: [1],
 20171000709401: [1],
 20171000709402: [1],
 20171000709404: [1],
 20171000711701: [1],
 20171000711702: [1],
 20171000714801: [1],
 20171000714802: [1],
 20171000715001: [1],
 20171000715301: [1],
 20171000715302: [1],
 20171000717301: [1],
 20171000717302: [1],
 20171000719801: [1],
 20171000720402: [1],
 20171000720403: [1],
 20171000720702: [1],
 20171000720704: [1],
 20171000723201: [1],
 20171000723208: [1],
 20171000726902: [1],
 20171000729501: [1],
 20171000731102: [1],
 20171000731106: [1],
 20171000731901: [1],
 20171000733801: [1],
 20171000736401: [1],
 20171000736402: [1],
 20171000736501: [1],
 20171000738002: [1],
 20171000741301: [1],
 20171000744201: [1],
 20171000745201: [1],
 20171000745202: [1],
 20171000745503: [1],
 20171000747001: [1],
 20171000747101: [1],
 20171000747102: [1],
 20171000748101: [1],
 20171000748102: [1],
 20171000750101: [1],
 20171000750102: [1],
 20171000751301: [1],
 20171000751302: [1],
 20171000751406: [1],
 20171000752501: [1],
 20171000752701: [1],
 20171000753901: [1],
 20171000754102: [1],
 20171000754901: [1],
 20171000754902: [1],
 20171000756301: [1],
 20171000756302: [1],
 20171000756304: [1],
 20171000756401: [1],
 20171000757901: [1],
 20171000759001: [1],
 20171000759002: [1],
 20171000760802: [1],
 20171000762301: [1],
 20171000762303: [1],
 20171000763401: [1],
 20171000763402: [1],
 20171000765101: [1],
 20171000765102: [1],
 20171000766401: [1],
 20171000766402: [1],
 20171000769002: [1],
 20171000769802: [1],
 20171000772401: [1],
 20171000774601: [1],
 20171000774602: [1],
 20171000774801: [1],
 20171000774802: [1],
 20171000774803: [1],
 20171000774804: [1],
 20171000774805: [1],
 20171000778101: [1],
 20171000778102: [1],
 20171000778103: [1],
 20171000778301: [1],
 20171000778302: [1],
 20171000778501: [1],
 20171000778802: [1],
 20171000780001: [1],
 20171000780003: [1],
 20171000783701: [1],
 20171000786101: [1],
 20171000786602: [1],
 20171000787501: [1],
 20171000787502: [1],
 20171000788701: [1],
 20171000788703: [1],
 20171000792501: [1],
 20171000792502: [1],
 20171000792506: [1],
 20171000794001: [1],
 20171000795801: [1],
 20171000795802: [1],
 20171000796201: [1],
 20171000796202: [1],
 20171000798201: [1],
 20171000800001: [1],
 20171000802301: [1],
 20171000802302: [1],
 20171000803701: [1],
 20171000803702: [1],
 20171000804301: [1],
 20171000805401: [1],
 20171000805402: [1],
 20171000805701: [1],
 20171000811201: [1],
 20171000815801: [1],
 20171000816801: [1],
 20171000816802: [1],
 20171000817302: [1],
 20171000817601: [1],
 20171000817603: [1],
 20171000820101: [1],
 20171000821001: [1],
 20171000821002: [1],
 20171000821601: [1],
 20171000821602: [1],
 20171000822501: [1],
 20171000822502: [1],
 20171000827101: [1],
 20171000827402: [1],
 20171000827801: [1],
 20171000829701: [1],
 20171000829702: [1],
 20171000829704: [1],
 20171000829705: [1],
 20171000830201: [1],
 20171000830202: [1],
 20171000831401: [1],
 20171000831901: [1],
 20171000831902: [1],
 20171000841206: [1],
 20171000841207: [1],
 20171000841211: [1],
 20171000841212: [1],
 20171000841213: [1],
 20171000842401: [1],
 20171000842402: [1],
 20171000842501: [1],
 20171000842502: [1],
 20171000843001: [1],
 20171000843002: [1],
 20171000844201: [1],
 20171000844205: [1],
 20171000844701: [1],
 20171000844702: [1],
 20171000845402: [1],
 20171000846401: [1],
 20171000846403: [1],
 20171000850502: [1],
 20171000855001: [1],
 20171000855002: [1],
 20171000855003: [1],
 20171000856701: [1],
 20171000856702: [1],
 20171000856705: [1],
 20171000857401: [1],
 20171000857501: [1],
 20171000858501: [1],
 20171000858502: [1],
 20171000858503: [1],
 20171000860101: [1],
 20171000860102: [1],
 20171000860401: [1],
 20171000860402: [1],
 20171000863101: [1],
 20171000863102: [1],
 20171000863103: [1],
 20171000863104: [1],
 20171000864401: [1],
 20171000864403: [1],
 20171000867202: [1],
 20171000867203: [1],
 20171000868001: [1],
 20171000868002: [1],
 20171000868701: [1],
 20171000868706: [1],
 20171000869205: [1],
 20171000870801: [1],
 20171000872701: [1],
 20171000874801: [1],
 20171000874804: [1],
 20171000875301: [1],
 20171000875302: [1],
 20171000875602: [1],
 20171000878801: [1],
 20171000881801: [1],
 20171000886101: [1],
 20171000886102: [1],
 20171000890901: [1],
 20171000891001: [1],
 20171000895301: [1],
 20171000895302: [1],
 20171000902801: [1],
 20171000902802: [1],

In [ ]:
df_2019

In [94]:
df_2019.groupby('CPSIDP').size()

CPSIDP
20171000000401    1
20171000000402    1
20171000000403    1
20171000000404    1
20171000000601    1
                 ..
20191207019203    1
20191207026701    1
20191207026702    1
20191207026703    1
20191207029101    1
Length: 227612, dtype: int64

In [93]:
df_2019.iloc[67000:67025]

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
34872722,2019,5,1374.6527,20180200479802,10,3050,3050,5070,34872722
34335287,2019,2,1382.7925,20180200483301,10,6200,6200,770,34335287
34454707,2019,3,1327.5720,20180200483301,10,6200,6200,770,34454707
34752911,2019,4,1320.2583,20180200483301,10,6200,6200,770,34752911
34872771,2019,5,1332.7810,20180200483301,10,6200,6200,770,34872771
34335288,2019,2,1701.3877,20180200483302,10,4110,4110,8680,34335288
34454708,2019,3,1592.9778,20180200483302,10,4110,4110,8680,34454708
34752912,2019,4,1582.3152,20180200483302,10,4110,4110,8680,34752912
34872772,2019,5,1444.6001,20180200483302,10,4110,4110,8680,34872772
34335292,2019,2,2014.8013,20180200483601,10,100,100,7870,34335292
34454709,2019,3,1905.7718,20180200483601,10,100,100,7870,34454709
34752913,2019,4,1734.4054,20180200483601,10,100,100,7870,34752913
34872773,2019,5,1786.7036,20180200483601,10,100,100,7870,34872773
34335293,2019,2,1617.7799,20180200483602,10,2540,2540,7860,34335293
34454710,2019,3,1487.9873,20180200483602,10,2540,2540,7860,34454710
34752914,2019,4,1497.9798,20180200483602,10,2540,2540,7860,34752914
34872774,2019,5,1514.9300,20180200483602,10,2540,2540,7860,34872774
34335302,2019,2,1375.4730,20180200483801,10,565,560,9480,34335302
34454718,2019,3,1400.4070,20180200483801,10,4600,4600,7860,34454718
34752927,2019,4,1494.8345,20180200483801,10,4600,4600,7860,34752927
34872784,2019,5,1456.9344,20180200483801,10,4600,4600,7860,34872784
34335305,2019,2,1309.7386,20180200484001,10,4700,4700,4970,34335305
34454721,2019,3,1276.1060,20180200484001,10,4700,4700,4970,34454721
34752931,2019,4,1173.3692,20180200484001,10,4700,4700,4970,34752931
34872788,2019,5,1191.7880,20180200484001,10,4700,4700,4970,34872788

In [91]:
df_2019.iloc[65000:65020]

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
34562367,2019,3,3301.4499,20180107054802,10,430,430,770,34562367
34862294,2019,4,3381.3912,20180107054802,10,430,430,770,34862294
34324626,2019,1,4031.0320,20180107056101,10,5620,5620,4970,34324626
34444080,2019,2,3823.0513,20180107056101,10,5620,5620,4970,34444080
34562386,2019,3,3797.0694,20180107056101,10,5620,5620,4970,34562386
34862311,2019,4,4038.4385,20180107056101,10,5620,5620,4970,34862311
34324629,2019,1,3313.2506,20180107056104,10,4110,4110,8680,34324629
34444083,2019,2,3244.6364,20180107056104,10,630,620,8680,34444083
34562389,2019,3,3402.0618,20180107056104,10,4130,4130,8680,34562389
34862314,2019,4,3057.4363,20180107056104,10,4130,4130,8680,34862314
34324630,2019,1,3395.9520,20180107056201,10,4850,4850,4470,34324630
34324631,2019,1,2360.0995,20180107056202,10,3630,3630,8990,34324631
34324700,2019,1,3234.3321,20180107059401,10,8220,8220,3380,34324700
34444150,2019,2,3304.6543,20180107059401,10,8220,8220,3380,34444150
34562470,2019,3,3030.6520,20180107059401,10,8220,8220,3380,34562470
34862378,2019,4,3191.6170,20180107059401,10,8220,8220,3380,34862378
34324718,2019,1,4343.8259,20180107060501,10,5540,5540,6370,34324718
34862395,2019,4,4257.8211,20180107060501,10,5540,5540,6370,34862395
34324743,2019,1,3350.1109,20180107061401,10,3300,3300,8180,34324743
34444203,2019,2,3354.3120,20180107061401,10,3300,3300,8180,34444203

In [88]:
df_2019.iloc[10000:10020]

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
34356478,2019,2,3701.7071,20171101695802,10,2830,2810,6672,34356478
34236206,2019,1,4269.3343,20171101696001,10,430,430,3990,34236206
34356486,2019,2,4233.9302,20171101696001,10,5860,5860,7680,34356486
34356510,2019,2,3384.8769,20171101697101,10,9140,9140,6190,34356510
34236247,2019,1,4899.1245,20171101697103,10,5140,5140,7280,34236247
34356512,2019,2,5162.4654,20171101697103,10,5140,5140,7280,34356512
34236248,2019,1,6556.3918,20171101697104,10,6355,6355,770,34236248
34356513,2019,2,6653.9252,20171101697104,10,8620,8620,670,34356513
34236255,2019,1,3797.5880,20171101697601,10,4700,4700,4970,34236255
34356516,2019,2,3806.2050,20171101697601,10,4700,4700,4970,34356516
34236256,2019,1,3899.3742,20171101697602,10,9130,9130,5470,34236256
34356517,2019,2,3746.5556,20171101697602,10,9130,9130,5470,34356517
34236257,2019,1,4399.5777,20171101697603,10,4720,4720,5380,34236257
34356518,2019,2,4270.1076,20171101697603,10,4720,4720,5380,34356518
34236258,2019,1,4156.0623,20171101697604,10,4030,4030,8680,34236258
34356519,2019,2,3733.6201,20171101697604,10,4030,4030,8680,34356519
34236304,2019,1,3898.7210,20171101700401,10,350,350,8170,34236304
34356559,2019,2,3808.3566,20171101700401,10,350,350,8170,34356559
34236306,2019,1,4498.8171,20171101700403,10,4700,4700,5590,34236306
34356561,2019,2,4218.9919,20171101700403,10,4700,4700,5590,34356561

In [37]:
df_2019_full = pd.read_pickle(path_data + "CPS_df_2019.pkl")
df_2019_full['Idx'] = df_2019_full.index

In [45]:
df_2019_full = df_2019_full[df_2019_full['WTFINL'].notna()]

In [46]:
df_2019_full = df_2019_full.sort_values(by = ['CPSIDP', 'Idx'])

In [47]:
df_2019_full = df_2019_full[(df_2019_full['OCC2010']!= 9999) & (df_2019_full['CPSIDP']!= 0)]

In [48]:
df_2019_full.head()

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,...,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND,Idx
34206669,2019,8,1,1733.4595,20171000000400,NaN,NaN,NaN,1,1733.4595,...,NaN,54,200,0,10,2,5700,5700,8190,34206669
34206670,2019,8,1,1733.4595,20171000000400,NaN,NaN,NaN,2,2671.1416,...,NaN,17,200,0,10,2,4020,4000,8680,34206670
34206671,2019,8,1,1733.4595,20171000000400,NaN,NaN,NaN,3,2671.1416,...,NaN,17,200,0,10,2,4020,4000,8680,34206671
34206672,2019,8,1,1733.4595,20171000000400,NaN,NaN,NaN,4,2648.5806,...,NaN,20,200,0,10,2,4720,4720,5080,34206672
34206673,2019,9,1,1967.3134,20171000000600,NaN,NaN,NaN,1,1967.3134,...,NaN,57,200,0,10,2,3255,3130,9480,34206673

In [50]:
df_2019_full["MISH"]

KeyError: 'MISH'

In [51]:
groups = df_2019_full.groupby("CPSID").agg({"WTFINL":["mean", "std"]})

In [56]:
groups[('WTFINL', 'mean')]

CPSID
20171000000400    2431.080825
20171000000600    2307.947000
20171000005500    2704.456300
20171000007400    2231.476750
20171000009500    2232.070100
                     ...
20191207015300     266.611800
20191207018400     330.935200
20191207019200     389.420200
20191207026700     419.309033
20191207029100     403.988800
Name: (WTFINL, mean), Length: 143454, dtype: float64

In [54]:
groups.columns

MultiIndex([('WTFINL', 'mean'),
            ('WTFINL',  'std')],
           )

In [ ]:
df.groupby(['a'], as_index=False).agg(
                      {'c':['mean','std'],'b':'first', 'd':'first'})

In [32]:
df_2019_full["WTFINL"]

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND
34206659,2019,1,1,1821.1212,20181200000100,NaN,NaN,NaN,1,1882.8985,20181200000101,NaN,68,200,0,36,1,0,9999,0
34206660,2019,1,1,1821.1212,20181200000100,NaN,NaN,NaN,2,1821.1212,20181200000102,NaN,64,200,0,10,2,7750,7750,3570
34206661,2019,3,1,1804.2193,20171200000300,NaN,NaN,NaN,1,2219.4429,20171200000301,NaN,64,200,0,36,1,0,9999,0
34206662,2019,3,1,1804.2193,20171200000300,NaN,NaN,NaN,2,1804.2193,20171200000302,NaN,59,200,0,10,2,5400,5400,7870
34206663,2019,5,1,3296.9061,20190100000500,NaN,NaN,NaN,1,3296.9061,20190100000501,NaN,31,200,0,10,2,8030,8030,3390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35810818,2019,70288,12,262.6019,20181007096200,NaN,NaN,NaN,1,262.6019,20181007096201,NaN,57,100,0,10,2,7020,7020,8090
35810819,2019,70291,12,403.9888,20191207029100,NaN,NaN,NaN,1,403.9888,20191207029101,NaN,39,100,100,10,2,2320,2320,7860
35810820,2019,70291,12,403.9888,20191207029100,NaN,NaN,NaN,2,482.3911,20191207029102,NaN,5,801,100,0,0,0,9999,0
35810821,2019,70291,12,403.9888,20191207029100,NaN,NaN,NaN,3,260.9972,20191207029103,NaN,10,100,200,0,0,0,9999,0
35810822,2019,70291,12,403.9888,20191207029100,NaN,NaN,NaN,4,412.9868,20191207029104,NaN,12,100,200,0,0,0,9999,0

In [9]:
df_2019 = df[df["YEAR"] == 2019]

In [ ]:
df_2019 = df[df["YEAR"] == 2019]

In [24]:
count = 0
person_id_old = 0
occ_old = 0
ind_old = 0

transitions_occ = 0
transitions_ind = 0
transitions_both = 0
remained = 0
raw_transitions_occ = 0
raw_transitions_ind = 0 
raw_transitions_both = 0
raw_remained = 0

# get the transitions
for index, row in df_2019.iterrows():
    person_id_new = row["CPSIDP"]
    
    if person_id_new == person_id_old:
        #check for change in occupation
#         print(occ_old, row["OCC2010"])
        # check if occupation changed
        if occ_old != row["OCC2010"]:
            raw_transitions_occ +=1 
            transitions_occ += 1 * row["WTFINL"]
            occ_old = row["OCC2010"]
            if ind_old != row["IND"]:
                raw_transitions_both += 1
                transitions_both += 1 * row["WTFINL"]
        else:
            remained += 1 * row["WTFINL"]
            raw_remained += 1
        if ind_old != row["IND"]: 
            raw_transitions_ind += 1
            transitions_ind += 1 * row["WTFINL"]

            
            
    else:
#         print("change")
#         print("id", person_id_new)
        person_id_old = person_id_new
        occ_old = row["OCC2010"]
        ind_old = row["IND"]
    
    count +=1
    if count%1000000 == 0:
        print(count)
#     if count > 100:
#         break

In [29]:
remained/1e6

1152.6292111585176

In [30]:
(remained + transitions_occ)/12

106997610.51725984

In [26]:
remained

1152629211.1585176

In [16]:
len(df_2019)

693593

In [17]:
raw_transitions_occ

45016

In [18]:
transitions_ind

151985405.57189944

In [28]:
transitions_occ/12

10945176.254050037

In [22]:
transitions_occ

131342115.04860044

In [19]:
transitions_both/transitions_ind

0.5318222065944523

In [20]:
transitions_both/transitions_occ

0.6154097163083688

In [14]:
transitions_both

80829213.76140033

In [10]:
df_2019.head()

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
34206669,2019,1,1733.4595,20171000000401,10,5700,5700,8190,34206669
34206670,2019,1,2671.1416,20171000000402,10,4020,4000,8680,34206670
34206671,2019,1,2671.1416,20171000000403,10,4020,4000,8680,34206671
34206672,2019,1,2648.5806,20171000000404,10,4720,4720,5080,34206672
34206673,2019,1,1967.3134,20171000000601,10,3255,3130,9480,34206673

In [20]:
df.iloc[100000:100010]

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
301003,2000,3,1894.2097,19990302725901,12,274,4965,591,301003
556495,2000,4,1909.6596,19990302725901,10,274,4965,591,556495
625221,2000,5,1937.3754,19990302725901,10,274,4965,591,625221
747266,2000,6,1892.0428,19990302725901,10,274,4965,591,747266
301034,2000,3,2114.3566,19990302727301,10,17,310,641,301034
556528,2000,4,2046.9970,19990302727301,10,17,310,641,556528
724532,2000,5,2062.4065,19990302727301,10,17,310,641,724532
812342,2000,6,2099.2463,19990302727301,10,17,310,641,812342
556529,2000,4,2158.8727,19990302727401,10,276,4720,682,556529
657903,2000,5,2338.2644,19990302727401,10,276,4720,682,657903

In [28]:
df[102730:102750]

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
567634,2000,4,1111.4283,19990303273501,10,53,1360,882,567634
625243,2000,5,1120.3141,19990303273501,10,53,1360,882,625243
311930,2000,3,1102.3858,19990303273502,10,243,4700,541,311930
567635,2000,4,1116.1194,19990303273502,10,243,4700,541,567635
625244,2000,5,1134.9153,19990303273502,10,243,4700,541,625244
311961,2000,3,1102.3858,19990303274901,10,337,5120,700,311961
567663,2000,4,1116.1194,19990303274901,10,389,5940,700,567663
671981,2000,5,1134.9153,19990303274901,10,376,5330,700,671981
778215,2000,6,1185.0610,19990303274901,10,376,5330,700,778215
311962,2000,3,1091.2312,19990303274902,10,243,4700,620,311962
567664,2000,4,1111.4283,19990303274902,10,243,4700,620,567664
671982,2000,5,1120.3141,19990303274902,10,243,4700,620,671982
778216,2000,6,1190.7981,19990303274902,10,243,4700,620,778216
311971,2000,3,1008.0254,19990303275302,10,26,710,892,311971
567676,2000,4,1039.2225,19990303275302,10,26,710,892,567676
647388,2000,5,1115.3311,19990303275302,10,26,710,892,647388
799784,2000,6,1190.4734,19990303275302,10,26,710,892,799784
312006,2000,3,1006.1194,19990303277201,10,23,800,731,312006
567727,2000,4,996.2120,19990303277201,10,22,430,391,567727
671208,2000,5,1006.8089,19990303277201,10,22,430,391,671208

In [31]:
count = 0
person_id_old = 0
occ_old = 0
for index, row in df[102730:102750].iterrows():
    person_id_new = row["CPSIDP"]
    
    if person_id_new == person_id_old:
        #check for change in occupation
        print(occ_old, row["OCC2010"])
        occ_old = row["OCC2010"]
        pass
    else:
        print("change")
        print("id", person_id_new)
        person_id_old = person_id_new
        occ_old = row["OCC2010"]
    
    count +=1
    if count > 100:
        break

change
id 19990303273501.0
1360.0 1360.0
change
id 19990303273502.0
4700.0 4700.0
4700.0 4700.0
change
id 19990303274901.0
5120.0 5940.0
5940.0 5330.0
5330.0 5330.0
change
id 19990303274902.0
4700.0 4700.0
4700.0 4700.0
4700.0 4700.0
change
id 19990303275302.0
710.0 710.0
710.0 710.0
710.0 710.0
change
id 19990303277201.0
800.0 430.0
430.0 430.0

In [34]:
count = 0
person_id_old = 0
occ_old = 0
transitions = 0
raw_transitions = 0
for index, row in df[102730:102750].iterrows():
    person_id_new = row["CPSIDP"]
    
    if person_id_new == person_id_old:
        #check for change in occupation
        print(occ_old, row["OCC2010"])
        if occ_old != row["OCC2010"]:
            raw_transitions +=1 
            transitions += 1 *  row["WTFINL"]
            occ_old = row["OCC2010"]
        pass
    else:
        print("change")
        print("id", person_id_new)
        person_id_old = person_id_new
        occ_old = row["OCC2010"]
    
    count +=1
    if count > 100:
        break

change
id 19990303273501.0
1360.0 1360.0
change
id 19990303273502.0
4700.0 4700.0
4700.0 4700.0
change
id 19990303274901.0
5120.0 5940.0
5940.0 5330.0
5330.0 5330.0
change
id 19990303274902.0
4700.0 4700.0
4700.0 4700.0
4700.0 4700.0
change
id 19990303275302.0
710.0 710.0
710.0 710.0
710.0 710.0
change
id 19990303277201.0
800.0 430.0
430.0 430.0

In [35]:
raw_transitions

3

In [36]:
transitions

3247.2467

In [39]:
len(df)

16869617

In [40]:
count = 0
person_id_old = 0
occ_old = 0
ind_old = 0

transitions_occ = 0
transitions_ind = 0
transitions_both = 0
raw_transitions_occ = 0
raw_transitions_ind = 0 
raw_transitions_both = 0
for index, row in df.iterrows():
    person_id_new = row["CPSIDP"]
    
    if person_id_new == person_id_old:
        #check for change in occupation
#         print(occ_old, row["OCC2010"])
        if occ_old != row["OCC2010"]:
            raw_transitions +=1 
            transitions += 1 *  row["WTFINL"]
            occ_old = row["OCC2010"]
        if ind_old != row["IND"]
            
        pass
    else:
#         print("change")
#         print("id", person_id_new)
        person_id_old = person_id_new
        occ_old = row["OCC2010"]
    
    count +=1
    if count%1000000 == 0:
        print(count)
#     if count > 100:
#         break

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
14500000
14600000
14700000
14800000
14900000
15000000
15100000
15200000
15300000
15400000
15500000
15600000
15700000
15800000
15900000
16000000
16100000
16200000
16300000
16400000
16500000
16600000
16700000
16800000

In [41]:
raw_transitions

1861709

In [42]:
transitions

4522386345.174492

In [43]:
transitions/20

226119317.2587246

In [6]:
df.loc[df["CPSIDP"] == 19990303144203]

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
309268,2000,3,475.0559,19990303144203,10,467,2540,862,309268
466089,2000,3,NaN,19990303144203,10,467,2540,862,466089

In [21]:
df = df[df['WTFINL'].notna()]

In [ ]:
19990303144203

In [ ]:
19990303152101

In [27]:
df[102730:102750]

,YEAR,MONTH,WTFINL,CPSIDP,EMPSTAT,OCC,OCC2010,IND,Idx
567634,2000,4,1111.4283,19990303273501,10,53,1360,882,567634
625243,2000,5,1120.3141,19990303273501,10,53,1360,882,625243
311930,2000,3,1102.3858,19990303273502,10,243,4700,541,311930
567635,2000,4,1116.1194,19990303273502,10,243,4700,541,567635
625244,2000,5,1134.9153,19990303273502,10,243,4700,541,625244
311961,2000,3,1102.3858,19990303274901,10,337,5120,700,311961
567663,2000,4,1116.1194,19990303274901,10,389,5940,700,567663
671981,2000,5,1134.9153,19990303274901,10,376,5330,700,671981
778215,2000,6,1185.0610,19990303274901,10,376,5330,700,778215
311962,2000,3,1091.2312,19990303274902,10,243,4700,620,311962
567664,2000,4,1111.4283,19990303274902,10,243,4700,620,567664
671982,2000,5,1120.3141,19990303274902,10,243,4700,620,671982
778216,2000,6,1190.7981,19990303274902,10,243,4700,620,778216
311971,2000,3,1008.0254,19990303275302,10,26,710,892,311971
567676,2000,4,1039.2225,19990303275302,10,26,710,892,567676
647388,2000,5,1115.3311,19990303275302,10,26,710,892,647388
799784,2000,6,1190.4734,19990303275302,10,26,710,892,799784
312006,2000,3,1006.1194,19990303277201,10,23,800,731,312006
567727,2000,4,996.2120,19990303277201,10,22,430,391,567727
671208,2000,5,1006.8089,19990303277201,10,22,430,391,671208

In [22]:
len(df)

16895274

In [8]:
df_sort= df.sort_values("CPSIDP")

ValueError: No axis named CPSIDP for object type DataFrame

In [7]:
df_grouped.head()

          YEAR  MONTH     WTFINL          CPSIDP  EMPSTAT   OCC  OCC2010   IND
15        2000      1   233.3782  19981204103001       12   869     6260    60
20        2000      1   233.4906  19981204102801       12   783     8140    41
28        2000      1   290.0727  19981103262701       10   783     8140    41
34        2000      1  3309.0053  19981202764601       21   558     6200    60
36        2000      1  3285.7963  19981204464201       10   783     8140   282
...        ...    ...        ...             ...      ...   ...      ...   ...
38481417  2021     10   373.8029  20201006877501       10  3740     3740  9590
38481429  2021     10   579.4686  20210906771501       10  4220     4220  7860
38481431  2021     10   347.3348  20210806766401       10  2770     2760  9090
38481432  2021     10   381.3091  20210806766402       12  9645     5620  5391
38481436  2021     10   390.7595  20200706863602       10  5120     5120  6170

[13335291 rows x 8 columns]

In [ ]:
ipums_occ_set = set(occ10_list) # create a set of the ipums occupations
transitions = np.zeros((len(occ10_list ),len(occ10_list )))# where we will store the raw number of transitions
#progress check
for ii,i in enumerate(sampled_twice):
    if ii == round(len(sampled_twice)*0.5):
        print ('50% done')
    if ii == round(len(sampled_twice)*0.75):
        print ('70% done')    
    if ii == round(len(sampled_twice)*0.95):
        print ('95% done')
        
    p_data = new_df[new_df['CPSIDP']==i] # person specific data
    career_path = list(p_data['OCC']) # the occupations that person was in over the sampled periods (ordered chronologically)
    pweight = list(p_data['WTFINL'])
    
        # if that person had a job change in their career path:
    if career_path.count(career_path[0]) != len(career_path):
        # figure out the transitions
        for i, occ in enumerate(career_path):
            if i < len(career_path)-1 and career_path[i] !=career_path[i+1]:
                old_occ = career_path[i]
                new_occ = career_path[i+1]
                if {old_occ,new_occ} <= ipums_occ_set: # if the CPS occupations are in our ipums occupation set (not all of them are... )
                    # put person (weighted by person weight) transitions in transition matrix         
                     transitions[occ10_list.index(old_occ),occ10_list.index(new_occ)] += pweight[i+1]